.apitest-body {
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 15px;
}

.apitest-body form {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  gap: 15px;
}

.temp {
  font-size: 0.5rem;
}
.button {
  margin: 0 10px;
  width: 90%;
  background: #333333;
  border: 1px solid white;
}
