.apitest-body {
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 15px;
}

.result-header-title {
  height: 100%;
  width: 100%;
  padding: 0 5px;
  overflow: hidden;
  word-break: break-all;
}

.apitest-form {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  gap: 15px;
}

.temp {
  font-size: 0.5rem;
}

.back {
  width: 70px;
  background-color: #c4c4c4;
  color: black;
}

.result-body {
  padding: 0 10px;
}

.loader {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-box {
  display: flex;
  gap: 10px;
}
